
autoload/plug.vim
autoload/plugged/coc.nvim/
autoload/plugged/fzf.vim/
autoload/plugged/fzf/
autoload/plugged/gruvbox/
autoload/plugged/nerdcommenter/
autoload/plugged/nerdtree/
autoload/plugged/nvim-colorizer.lua/
autoload/plugged/rainbow_parentheses.vim/
autoload/plugged/typescript-vim/
autoload/plugged/vim-airline-themes/
autoload/plugged/vim-airline/
autoload/plugged/vim-commentary/
autoload/plugged/vim-floaterm/
autoload/plugged/vim-fugitive/
autoload/plugged/vim-gitgutter/
autoload/plugged/vim-graphql/
autoload/plugged/vim-javascript/
autoload/plugged/vim-jsx-typescript/
autoload/plugged/vim-startify/
autoload/plugged/vim-styled-components/
autoload/plugged/vim-which-key/
plugged/airline.vim
plugged/coc.vim
plugged/floaterm.vim
plugged/fzf-settings.vim
plugged/nerdcommenter.vim
plugged/rainbowp.vim
plugged/start-screen.vim
plugged/which-key.vim